@@font-face {
  src: url(fonts/Sacramento-Regular.ttf) format("truetype");
}
.top_div{
position: relative;
  padding-top: 100px;

}
.middle_div{
  margin: 50px auto;
}
.footer_div{
background-color:#3F2E3E;
padding: 50px 0px 20px
}
.body{
  margin:0px auto;
  text-align:center;
  background-color:#A78295;
  font-family:'Yellowtail';
  font-size: 20px;
}
h1{
  margin:0 auto;
  font-family:'Lobster Two';
  font-size: 562.5%;
}
h2{
  margin:0;
  font-family:'Lobster Two';
  font-size: 40px;
}
.third-dove{
  position: absolute;
  left:150px;
}
.second-dove{
position:absolute ;
left:150px;
top: 20px;
}
.first-dove{
  position:absolute;
  right: 150px;
  top: 20px;
}
.forth-dove{
  position:absolute;
  right: 150px;
}
.info{
  margin: 20px auto;
}
.skill-row{
  width: 50%;
  margin:50px auto;
text-align: left;
line-height: 20px;
}
.teeth-img{
  width: 15%;
  float: left;
  margin-right: 50px;
    line-height: 30px;
}
.cake-img{
    width: 15%;
      float: right;
      margin-left: 50px;
      line-height: 30px;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 30px;
}
h2{
  padding-bottom: 30px;
}
hr{
  margin: 50px auto;
  width: 150px;
  border-style: dotted;
  color: #;
  border-width: 5px;
  border-bottom: 0px;
}
.me{
  padding-bottom: 50px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
.contact-message{
  margin: 30px auto;
}
.copyright{
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
a{
margin: 20px 25px;
color: black;
font-size: 30px;
text-decoration: none;
font-weight: bold;
font-family:'Yellowtail';
}
